# venv
venv/
.venv/
Env/
env/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.idea/
.vscode/

# Telemetry data logs (must not be pushed to GitHub)
data/raw/*.csv
data/processed/*.csv
data/processed/*.json
data/sessions/
data/active_session.json

# Clinical dataset (since it can be large/generated, exclude it from GitHub)
data/mitbih/*.csv

# Trained models
models/*.pkl
*.sh
*.bat
